name: testing the pipeline
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: first job
        run: echo "testing the first"
      - name: second job
        run: echo "second job"
